<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  
  <listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>
  
  
  
  <test thread-count="5" name="Test">
    <classes>
      <class name="Dais_Technologies.Code_Exercise_paint_calculator_AutomationScript.BaseTest"/>
      <class name="Dais_Technologies.Code_Exercise_paint_calculator_AutomationScript.ResultTest"/>
      <class name="Dais_Technologies.Code_Exercise_paint_calculator_AutomationScript.DimensionsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
